<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>854654406715-eb4hhmpdignmubenvqchf3bmrtte71fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854654406715-eb4hhmpdignmubenvqchf3bmrtte71fk</string>
	<key>API_KEY</key>
	<string>AIzaSyCwcnUNvqPxqvs4JDDf2kW9gV3KBzGwAuc</string>
	<key>GCM_SENDER_ID</key>
	<string>854654406715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.com.commute-solutions.bustracker</string>
	<key>PROJECT_ID</key>
	<string>bus-link-partner</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-link-partner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:854654406715:ios:ea88f28b8b0bbc83</string>
	<key>DATABASE_URL</key>
	<string>https://bus-link-partner.firebaseio.com</string>
</dict>
</plist>
